.table{
    /* border-collapse: collapse; */
    border-spacing: 0px;
    margin:25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}

.table thead tr,.table tbody th {
    background-color: rgb(46, 167, 197);
    /* background-color: red; */
    color: white;
    text-align: left;
    
}

.table th,.table td{
    padding:15px 15px;
    border-bottom: 1px solid rgb(77, 80, 82);
    border-right: 1px solid rgb(77, 80, 82);
}

.column{
    float: left;
    padding: 5px;
}


.row::after {
    content: "";
    clear: both;
    display: table;
  }


span{
    font-size: 0.8em;
}


.selectunit{
    background: rgb(170, 225, 241);
}


