<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>risk Edits</title>
</head>
<body>
    <table>
        <th>high risk rules</th>
        <tr> 
            <td><h3>H1</h3></td>
            <td><span>More than</span><input type="text" value="10"><span>INN | OUT transactions  </span>   </td>
        </tr>
        <tr>
            <td><h3>H2</h3></td>
            <td><span>sum of all INN | OUT transactions is more than </span><input type="text" value="1000"> in a month</td></tr>
        <tr>
            <td><h3>H3</h3></td>
            <td><span>sum of all INN | OUT transactions is more than </span><input type="text" value="1000"> in a month</td></tr>
        <tr>
            <td><h3>H4</h3></td>
            <td><span>sum of all INN | OUT transactions is more than </span><input type="text" value="1000"> in a month</td></tr>
        </tr>
        
    </table>
    <table></table>
    <table></table>
</body>
</html>