{% extends 'base.html' %}

{% block content %}


<div class="navbar">

    <a class="current" href="#Editor">Rules</a>
    <a  href="{% url 'risk23'%}">Customers</a>
    <!-- <a href="#students">Student</a>
    <a href="#upload">Upload</a> -->
    
</div>

<table class="table">
    <th>high risk rules</th>
    <th>risks</th>
    <tr> 
        <td><h3>H1</h3></td>
        <td><span>More than</span><input type="text" value="10"><span>INN | OUT transactions  </span>   </td>
    </tr>
    <tr>
        <td><h3>H2</h3></td>
        <td><span>sum of all INN | OUT transactions is more than </span><input type="text" value="1000"> in a month</td></tr>
    <tr>
        <td><h3>H3</h3></td>
        <td><span>sum of all INN | OUT transactions is more than </span><input type="text" value="1000"> in a month</td></tr>
    <tr>
        <td><h3>H4</h3></td>
        <td><span>sum of all INN | OUT transactions is more than </span><input type="text" value="1000"> in a month</td></tr>
    </tr>
    
</table>
<table class = 'table'>
    <th>Middle risk rules</th>
    <th>risks</th>
    <tr> 
        <td><h3>M1</h3></td>
        <td><span>More than</span><input type="text" value="10"><span>INN | OUT transactions  </span>   </td>
    </tr>
    <tr>
        <td><h3>M2</h3></td>
        <td><span>sum of all INNtransactions is more than </span><input type="text" value="1000"> in a month</td></tr>
    <tr>
        <td><h3>M3</h3></td>
        <td><span>sum of all  OUT transactions is more than </span><input type="text" value="800"> in a month</td></tr>
    <tr>
        <td><h3>M4</h3></td>
        <td><span>Number of transactions in a day is more than </span><input type="text" value="20"> in a month</td></tr>
    </tr>
    
</table>
<table class = 'table'>
    <th>Middle risk rules</th>
    <th>risks</th>
    <tr> 
        <td><h3>L1</h3></td>
        <td><span>More than</span><input type="text" value="6"><span>INN | OUT transactions  </span>   </td>
    </tr>
    <tr>
        <td><h3>L22</h3></td>
        <td><span>sum of all INN | OUT transactions is more than </span><input type="text" value="600"><span>less than</span><input type="text" value="1000"> in a month</td></tr>
    <tr>
        <td><h3>L3</h3></td>
        <td><span>sum of all INN | OUT transactions is more than </span><input type="text" value="1000"> in a month</td></tr>
    <tr>
        <td><h3>L4</h3></td>
        <td><span>sum of all INN | OUT transactions is more than </span><input type="text" value="1000"> in a month</td></tr>
    </tr> 
</table>

{% endblock content%}